.card {
  color: #fff;
  padding: 20px 14px;
  text-align: center;
  max-width: 240px;
  min-width: 220px;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cardbody h2,
.cardbody h3 {
  margin-bottom: 10px;
}

.cardfooter {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
